*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
    /* COLORS */

   --primary-color: hsla(201,92%,24%, 1);
   --secondary-color: hsla(226,100%, 97%, 1);
   --quick-blue: hsla(212, 57% ,87% ,1);
   --text-primary: hsla(0 ,0 , 20%, 1);
   --text-secondary: hsla(0 ,0 , 40%, 1);


   /* TEXT SIZE */

   --logo-size: 3.4rem;
   --navbar-size: 1.4rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    padding-inline: 123px;
}

.header__logo {
    text-decoration: none;
    font-size: var(--logo-size);
    font-weight: bold;
    font-size: 3.4rem;
    color: var(--primary-color);
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: var(--navbar-size);
    font-weight: 500;
}

.header__nav-item-link {
    color: var(--text-primary);
}

.hover-underline {
    position: relative;
    max-width: 100%;
}
.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);  
  transition: 500ms ease;
}

.hover-underline:is(:hover, :focus-visible)::after {
  width: 100%;
}

.hero-group__info-new-products {
    position: relative;
}

.hero-group__new-products-img img {
    width: 100%;
    display: block;
}

.hero-group__info-news {
    position: absolute;
    width: 643px;
    height: 443px;
    padding: 3.9rem;
    background-color: var(--quick-blue);
    top: 155px;
    right:90px;
    border-radius: 10px;
}

.hero-group__info-news-text {
    font-weight: 450;
    font-style: 1.6rem;
    letter-spacing: 3px;
    line-height: auto;
    color: #333;
    margin-bottom: 20px;
}

.hero-group__info-news-title {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 65px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero-group__info-news-decription {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--text-secondary);
    line-height: 3.9rem;
    margin-bottom: 30px;
}
.hero-group__button {
    width: 22.9rem;
    height: 7rem;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 500ms ease-out;
}

.hero-group__button:hover {
    background-color: rgb(38, 118, 161);
    transition: 500ms ease;
}




